{% extends "common/base.html" %}

{% block body %}
    <div id="WebFormErea">
        
        <table id="WebForm">
            <tr>
              <td>
                
                <!-- CalenderPopUp start-->
                <div id="CalenderView"></div>
                <!-- CalenderPopUp end-->
                
                <!-- Calender start-->
                <div id="CalenderPopUpView"></div>
                <!-- Calender end-->
              </td>
            </tr>
        </table>
        {% csrf_token %}
    </div>
{% endblock%}