{% extends "common/base.html" %}

{% block body %}
    <div id="WebFormErea">
        
        <table id="WebForm">
            <tr>
              <td class="padding-top-20px"><label for="analyze" name="FormTitle" class="FormTitle"><span class="Mark">&#9827;&nbsp;</span>CALENDER CREATE</label></td>
            </tr>
            <tr>
              <td class="padding-top-2px"><input type="button" class="SubmitDesign" name="createTable" value="CREATE" onclick="SubmitTarget('calendar_create')" /></td>
            </tr>
            <tr>
              <td class="padding-top-20px"><label for="upload" name="FormTitle" class="FormTitle"><span class="Mark">&#9827;&nbsp;</span>VIEW</label></td>
            </tr>
            <tr>
              <td class="padding-top-20px">
                <label for="upload" name="FormTitle" class="FormTitle">{{ message | safe  }}</label>
              </td>
            </tr>
            <tr>
              <td class="padding-top-20px"></td>
            </tr>
            
            <tr>
              <td>
                
                <!-- CalenderPopUp start-->
                <table id="CalenderPopUpHtml" style="visibility:collapse;">
                  <tr>
                    <td class="day"><label class="day">17 tue</label><input type="button" name="Close" value="×"/></td>
                  </tr>
                  <tr>
                    <td class="memo"><input type="text" name="Memo" placeholder="メモを入力"/></td>
                  </tr>
                  <tr>
                    <td class="button"><input type="button" name="Regist" value="REGIST"/></td>
                  </tr>
                </table>
                <!-- CalenderPopUp end-->
                
                <div id="CalenderView"></div>
                
                <!-- Calender start-->
                <table id="CalenderMain" style="visibility:collapse;">
                  <tr>
                    <td class="RoundMark_left" rowspan="10" ><label class="RoundMark">〇</label></td>
                    <td class="height-10px" colspan="7" ></td>
                    <td class="RoundMark_right" rowspan="10"><label class="RoundMark">〇</label></td>
                  </tr>
                  <tr>
                    <td class="MonthView" rowspan="2"><label id="month" class="MonthView">６</label></td>
                    <td colspan="2"><label class="MonthEnglishView">June</label></td>
                    <!-- LastMonth -->
                    <td rowspan="2" colspan="2">
                      <table id="LastMonth">
                          <tr>
                            <td rowspan="7"><label class="month">5</label></td>
                            <td><label class="ThisMonth_sun">S</label></td>
                            <td><label class="Day ThisMonth_mon">M</label></td>
                            <td><label class="Day ThisMonth_tue">T</label></td>
                            <td><label class="Day ThisMonth_wed">W</label></td>
                            <td><label class="Day ThisMonth_thu">T</label></td>
                            <td><label class="Day ThisMonth_fri">F</label></td>
                            <td><label class="ThisMonth_sat">S</label></td>
                          </tr>
                          <tr>
                            <td><label class="LastMonth_sun">25</label></td>
                            <td><label class="LastMonth_mon">26</label></td>
                            <td><label class="LastMonth_tue">27</label></td>
                            <td><label class="LastMonth_wed">28</label></td>
                            <td><label class="LastMonth_thu">29</label></td>
                            <td><label class="LastMonth_fri">30</label></td>
                            <td><label class="ThisMonth_sat">1</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">2</label></td>
                            <td><label class="Day ThisMonth_mon">3</label></td>
                            <td><label class="Day ThisMonth_tue">4</label></td>
                            <td><label class="Day ThisMonth_wed">5</label></td>
                            <td><label class="Day ThisMonth_thu">6</label></td>
                            <td><label class="Day ThisMonth_fri">7</label></td>
                            <td><label class="ThisMonth_sat">8</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">9</label></td>
                            <td><label class="Day ThisMonth_mon">10</label></td>
                            <td><label class="Day ThisMonth_tue">11</label></td>
                            <td><label class="Day ThisMonth_wed">12</label></td>
                            <td><label class="Day ThisMonth_thu">13</label></td>
                            <td><label class="Day ThisMonth_fri">14</label></td>
                            <td><label class="ThisMonth_sat">15</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">16</label></td>
                            <td><label class="Day ThisMonth_mon">17</label></td>
                            <td><label class="Day ThisMonth_tue">18</label></td>
                            <td><label class="Day ThisMonth_wed">19</label></td>
                            <td><label class="Day ThisMonth_thu">20</label></td>
                            <td><label class="Day ThisMonth_fri">21</label></td>
                            <td><label class="ThisMonth_sat">22</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">23</label></td>
                            <td><label class="Day ThisMonth_mon">24</label></td>
                            <td><label class="Day ThisMonth_tue">25</label></td>
                            <td><label class="Day ThisMonth_wed">26</label></td>
                            <td><label class="Day ThisMonth_thu">27</label></td>
                            <td><label class="Day ThisMonth_fri">28</label></td>
                            <td><label class="ThisMonth_sat">29</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">30</label></td>
                            <td><label class="Day ThisMonth_mon">31</label></td>
                            <td><label class="Day ThisMonth_tue"></label></td>
                            <td><label class="Day ThisMonth_wed"></label></td>
                            <td><label class="Day ThisMonth_thu"></label></td>
                            <td><label class="Day ThisMonth_fri"></label></td>
                            <td><label class="ThisMonth_sat"></label></td>
                          </tr>
                      </table>
                    </td>
                    <!-- nextMonth -->
                    <td rowspan="2" colspan="2">
                      <table id="nextMonth">
                          <tr>
                            <td rowspan="7"><label class="month">7</label></td>
                            <td><label class="ThisMonth_sun">S</label></td>
                            <td><label class="Day ThisMonth_mon">M</label></td>
                            <td><label class="Day ThisMonth_tue">T</label></td>
                            <td><label class="Day ThisMonth_wed">W</label></td>
                            <td><label class="Day ThisMonth_thu">T</label></td>
                            <td><label class="Day ThisMonth_fri">F</label></td>
                            <td><label class="ThisMonth_sat">S</label></td>
                          </tr>
                          <tr>
                            <td><label class="LastMonth_sun">26</label></td>
                            <td><label class="LastMonth_mon">27</label></td>
                            <td><label class="Day ThisMonth_tue">29</label></td>
                            <td><label class="Day ThisMonth_wed">30</label></td>
                            <td><label class="Day ThisMonth_thu">1</label></td>
                            <td><label class="Day ThisMonth_fri">2</label></td>
                            <td><label class="ThisMonth_sat">3</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">4</label></td>
                            <td><label class="Day ThisMonth_mon">5</label></td>
                            <td><label class="Day ThisMonth_tue">6</label></td>
                            <td><label class="Day ThisMonth_wed">7</label></td>
                            <td><label class="Day ThisMonth_thu">8</label></td>
                            <td><label class="Day ThisMonth_fri">9</label></td>
                            <td><label class="ThisMonth_sat">10</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">11</label></td>
                            <td><label class="Day ThisMonth_mon">12</label></td>
                            <td><label class="Day ThisMonth_tue">13</label></td>
                            <td><label class="Day ThisMonth_wed">14</label></td>
                            <td><label class="Day ThisMonth_thu">15</label></td>
                            <td><label class="Day ThisMonth_fri">16</label></td>
                            <td><label class="ThisMonth_sat">17</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">18</label></td>
                            <td><label class="Day ThisMonth_mon">19</label></td>
                            <td><label class="Day ThisMonth_tue">20</label></td>
                            <td><label class="Day ThisMonth_wed">21</label></td>
                            <td><label class="Day ThisMonth_thu">22</label></td>
                            <td><label class="Day ThisMonth_fri">23</label></td>
                            <td><label class="ThisMonth_sat">24</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun">25</label></td>
                            <td><label class="Day ThisMonth_mon">26</label></td>
                            <td><label class="Day ThisMonth_tue">27</label></td>
                            <td><label class="Day ThisMonth_wed">28</label></td>
                            <td><label class="Day ThisMonth_thu">29</label></td>
                            <td><label class="Day ThisMonth_fri">30</label></td>
                            <td><label class="ThisMonth_sat">31</label></td>
                          </tr>
                          <tr>
                            <td><label class="ThisMonth_sun"></label></td>
                            <td><label class="Day ThisMonth_mon"></label></td>
                            <td><label class="Day ThisMonth_tue"></label></td>
                            <td><label class="Day ThisMonth_wed"></label></td>
                            <td><label class="Day ThisMonth_thu"></label></td>
                            <td><label class="Day ThisMonth_fri"></label></td>
                            <td><label class="ThisMonth_sat"></label></td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td><label id="year" class="YearView" colspan="2">2021</label></td>
                  </tr>
                  <tr>
                    <td class="Td_Week"><label class="Week Week_sun">SUN</label></td>
                    <td class="Td_Week"><label class="Week Week_mon">MON</label></td>
                    <td class="Td_Week"><label class="Week Week_tue">TUE</label></td>
                    <td class="Td_Week"><label class="Week Week_wed">WED</label></td>
                    <td class="Td_Week"><label class="Week Week_thu">THU</label></td>
                    <td class="Td_Week"><label class="Week Week_fri">FRI</label></td>
                    <td class="Td_Week Border_last_right"><label class="Week Week_sat">SAT</label></td>
                  </tr>
                  <tr>
                    <td class="DayList Td_Day"><label class="Day LastMonth_sun">27</label></td>
                    <td class="DayList Td_Day"><label class="Day LastMonth_mon">28</label></td>
                    <td class="DayList Td_Day"><label class="Day LastMonth_tue">29</label></td>
                    <td class="DayList Td_Day"><label class="Day LastMonth_wed">30</label></td>
                    <td class="DayList Td_Day"><label class="Day LastMonth_thu">31</label></td>
                    <td class="DayList Td_Day"><label class="Day ThisMonth_fri Holiday">1</label></td>
                    <td class="DayList Td_Day Border_last_right"><label class="Day ThisMonth_sat">2</label></td>
                  </tr>
                  <tr>
                    <td class="DayList Td_Day"><label class="Day ThisMonth_sun">3</label></td>
                    <td class="DayList Td_Day"><label class="Day ThisMonth_mon">4</label></td>
                    <td class="DayList Td_Day"><label class="Day ThisMonth_tue">5</label></td>
                    <td class="DayList Td_Day"><label class="Day ThisMonth_wed">6</label></td>
                    <td class="DayList Td_Day"><label class="Day ThisMonth_thu">7</label></td>
                    <td class="DayList Td_Day"><label class="Day ThisMonth_fri">8</label></td>
                    <td class="DayList Td_Day Border_last_right"><label class="Day ThisMonth_sat">9</label></td>
                  </tr>
                  <tr>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_sun">10<span class="Circle">〇</span></label></td>
                    <td class="DayList Td_Holiday Border_under"><label class="ThisMonth_mon Holiday">11<span class="Circle">〇</span><br/><label class="HolidayName">文化の日</label></label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_tue">12</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_wed">13</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_thu">14</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_fri">15</label></td>
                    <td class="DayList Td_Day Border_last"><label class="Day ThisMonth_sat">16</label></td>
                  </tr>
                  <tr>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_sun">17</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_mon">18</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_tue">19</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_wed">20</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_thu">21</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_fri">22</label></td>
                    <td class="DayList Td_Day Border_last"><label class="Day ThisMonth_sat">23</label></td>
                  </tr>
                  <tr>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_sun">24</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_mon">25</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_tue">26</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_wed">27</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_thu">28</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_fri">29</label></td>
                    <td class="DayList Td_Day Border_last"><label class="Day ThisMonth_sat">30</label></td>
                  </tr>
                  <tr>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_sun">31</label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_mon"></label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_tue"></label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_wed"></label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_thu"></label></td>
                    <td class="DayList Td_Day Border_under"><label class="Day ThisMonth_fri"></label></td>
                    <td class="DayList Td_Day Border_last"><label class="Day ThisMonth_sat"></label></td>
                  </tr>
                  <tr>
                    <td class="RoundMark_left" colspan="8" ><label class="RoundMark">〇</label></td>
                    <td class="RoundMark_right" ><label class="RoundMark">〇</label></td>
                  </tr>
                </table>
                <!-- Calender end-->
                
                <div id="CalenderPopUpView"></div>
                
              </td>
            </tr>
            
            <!--<tr>-->
            <!--  <td class="padding-top-2px">-->
            <!--      <table id="SalesTable" border="0">-->
            <!--          <tr class="header"><td>テーブル名</td></tr>-->
            <!--          {% for result in SalesResult %}-->
            <!--              {{ result | safe  }}-->
            <!--          {% endfor %}-->
            <!--      </table>-->
            <!--  </td>-->
            <!--</tr>-->
        </table>
        {% csrf_token %}
    </div>
    <!--<div id="MenuErea">-->
    <!--    <p>test</p>-->
    <!--</div>-->
{% endblock%}