{% extends "common/base.html" %}

{% block body %}
    <div id="WebFormErea">
    <form name="MainForm" id="MainForm">
        <table id="WebForm" class="margin-top-30px">
            <tr>
              <td class="padding-top-20px"><label for="analyze" name="FormTitle" class="FormTitle"><span class="Mark">&#9827;&nbsp;</span>SQLLITEテーブル作成</label></td>
            </tr>
            <tr>
              <td class="padding-top-2px"><input type="button" class="SubmitDesign" name="createTable" value="テーブル作成" onclick="SubmitTarget('sql_lite_create_table')" /></td>
            </tr>
            <tr>
              <td class="padding-top-20px"><label for="upload" name="FormTitle" class="FormTitle"><span class="Mark">&#9827;&nbsp;</span>SQLLITEテーブル表示</label></td>
            </tr>
            <tr>
              <td class="padding-top-2px">
                  <table id="SalesTable" border="0">
                      <tr class="header"><td>テーブル名</td></tr>
                      {% for result in SalesResult %}
                          {{ result | safe  }}
                      {% endfor %}
                  </table>
              </td>
            </tr>
            <tr>
              <td class="padding-top-20px"><label for="upload" name="FormTitle" class="FormTitle"><span class="Mark">&#9827;&nbsp;</span>SQLLITEテーブルデータ登録</label></td>
            </tr>
            <tr>
              <td class="padding-top-2px">
                  <table id="SalesTable" border="0">
                      <tr class="header"><td>テーブル名</td></tr>
                      {% for result in SalesDataResult %}
                          {{ result | safe  }}
                      {% endfor %}
                  </table>
              </td>
            </tr>
            <tr>
              <td class="padding-top-2px">
                  <table id="SalesTable" border="0">
                  </table>
              </td>
            </tr>
            <tr>
              <td class="padding-top-20px"><label for="download" name="FormTitle" class="FormTitle">実行結果</label></td>
            </tr>
            <tr>
              <td rowspan="2" colspan="2"></td>
            </tr>
            <tr><td class="padding-top-2px" colspan="2">{{ message | safe }}</td></tr>
        </table>
        {% csrf_token %}
    </form>
    </div>
    <div id="MenuErea">
        <p>test</p>
    </div>
{% endblock%}