*{
  margin:0;
  padding:0px;
  font-size:95%;
  letter-spacing:1.2px;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  background-color: #732C2C;
  padding-left: 10px;
  height: 100px;
  line-height: 40px;
  z-index:90;
}
#header li{
  list-style:none;
}
#header li.title{
  width:20%;
  float:left;
}
#header li.auth{
  float:left;
}
#header li.userid{
  float:left;
  visibility:collapse;
}
#header li.pass{
  float:left;
  visibility:collapse;
}
li.login,li.logout{
  float:left;
}
#header #auth{
  width:90px;
  height:25px;
  padding:2px;
  border-radius:5%;
  margin:6px 0 0 105px;
  border:1px dotted #ABA572;
}
.lblUserid,.lblPass{
  color:white;
}
label.lblUserid,label.lblPass{
  font-size:10px;
}
#header li.userid input[type="text"]{
  width:50px;
  height:25px;
  margin:6px 15px 0 0;
  padding:0.5px 0.5px 0.5px 2px;
  border:1px dotted #ABA572;
  border-radius:5%;
}
#header li.pass input[type="password"]{
  width:50px;
  height:25px;
  margin:6px 20px 0 0;
  padding:0.5px 0.5px 0.5px 2px;
  border:1px dotted #ABA572;
  border-radius:5%;
}
#header li.login input[type="button"]{
  width:50px;
  height:25px;
  text-align:center;
  background-color: #ABA361;
  padding:1px 2.5px 1px 2.5px;
  margin:6px 0 0 50px;
  border:1px dotted #ABA572;
  border-radius:5%;
  color:white;
  display:block;
}
#header li.login input[type="button"]:hover{
  background-color: #ABA994;
}
#header li.logout input[type="button"]{
  width:50px;
  height:25px;
  text-align:center;
  background-color: #D3D9E0;
  padding:1px 2.5px 1px 2.5px;
  margin:6px 0 0 200%;
  border:1px dotted #ABA572;
  border-radius:5%;
  color:black;
  display:block;
}
#header li.logout input[type="button"]:hover{
  background-color: #ABA994;
}

#header h1{
  color:white;
}
#container{
  min-height:100%;
  height: auto;
  background-color: #EFF7CF;
  padding-top:22%;
}
div#WebFormErea{
  float:left;
  position:relative;
  top:40px;
  width:96%;
  margin:0% 2%;
  padding-bottom:20px;
}

/* table start */
table#WebForm{
  width:100%;
  background-color: white;
  border-collapse:collapse;
  border-radius:1%;
}
table#WebForm td.tdHeader{
  padding:3% 0 0 2%;
}
table#WebForm td.tdContent{
  padding:0.5% 0 0 2%;
}
table#WebForm td.tdEnd{
  padding:0 0 2% 0;
}
/* table end */

/*File*/
span.Mark{
  font-size:80%;
  color:#732C2C;
}
.FormTitle{
  color:#424539;
}

/*DB analyze*/
table#SalesTable{
  border-collapse: collapse;
  color:#424539;
}
table#SalesTable tr.header td{
  border: solid 1px #A64040;
  background: #B34444;
  color:white;
  padding:1px 2px 1px 3px;
  text-align:center;
}
table#SalesTable tr.body td{
  border: solid 1px #A64040;
  padding:3px 4px 3px 4px;
}
table#SalesTable input[type="text"] ,table#SalesTable input[type="tel"] ,input[type="checkbox"]{
  padding:2px 2px 2px 3px;
}

/*DB analyze end*/

input[type="button"].SubmitDesign{
  width:140px;
  height:25px;
  text-align:center;
  background-color: #ABA361;
  padding:1px 2.5px 1px 2.5px;
  margin-right:15px;
  border:1px dotted #ABA572;
  border-radius:5%;
  color:white;
}
input[type="button"].SubmitDesign:hover{
  background-color: #ABA994;
}

.message{
   background-color: #EFF7CF;
   color:#732C2C;
   padding:0.5px 2px 0.5px 2px;
}

/*common param*/
.margin-top-30px{
  margin-top:30px;
}
.padding-top-20px{
  padding-top:20px;
}
.padding-top-10px{
  padding-top:10px;
}
.padding-top-7px{
  padding-top:7px;
}
.padding-top-5px{
  padding-top:5px;
}
.padding-top-3px{
  padding-top:3px;
}
.padding-top-2px{
  padding-top:2px;
}
.padding-left-20px{
  padding-left:20px;
}
.width-30%{
  width:30%;
}

/*clear fix*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix:before {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  display: block;
}

