.menu-btn {
    position: fixed;
    top: 50px;
    left: 10px;
    display: flex;
    height: 18px;
    width: 18px;
    justify-content: center;
    align-items: center;
    z-index: 101;
    background-color: #732C2C;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    width: 18px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#Menu {
  visibility: hidden;
}
#menu-btn-check {
  display: none;
}

/* menu button */
ul#Menu{
  position: fixed;
  top: 50px;
  left: 10px;
  width:15%;
  padding:30px 0.5% 1% 2%;
  background-color: #732C2C;
  z-index: 100;
}
ul#Menu li{
  list-style: none;
}
ul#Menu li.ButtonOverPos{
  padding-bottom:10px;
}
ul#Menu li input{
  padding:2px;
  border-color:#EFF7CF;
  background: #732C2C;
  color:#FFFFF5;
  border:1px solid;
  border-radius:1px;
  display: block;
  letter-spacing:1px;
  font-size:6px;
  z-index:100;
}
ul#Menu li input:hover{
  opacity:0.8;
}

/* image */
.Img{
  border: 5px solid #ffffff;
  width:200px;
  height:auto;
  display:block;
}
ul#ImgTag{
  margin-top:10px;
}
#ImgTag li{
  float:left;
  margin-bottom:20px;
  list-style: none;
}
#ImgTag li a{
  margin-left:10px;
  display:block;
}
a.ileft,a.icenter{
  margin-right:20px;
}