@charset "utf-8";

/* init */
#Calender *{
  margin:0;
  padding:0px;
  font-size:100%;
  letter-spacing:1.2px;
  border-collapse:collapse;
}

/* outermost frame */
table#Calender{
  border-collapse:collapse;
  border:1px solid #B6B6B6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}

/* corner round mark */
td.RoundMark_left,td.RoundMark_right{
  vertical-align: top;
}
#Calender td.RoundMark_left{
  padding-left:2px;
}
#Calender td.RoundMark_right{
  padding-right:2px;
}
label.RoundMark{
  color:#C6C6C6;
  font-size:13px !important;
}
table#Calender td.today{
  background-color:#F8F8D9;
}

/* month */
td.MonthView{
  text-align:center;
}
#Calender label.MonthView,#Calender label.MonthViewTwoUnit{
  position:relative;
  top:15;
  color:#E60110;
  font-weight:bold;
  font-size:65px;
}
#Calender label.MonthViewTwoUnit{
  font-size:45px !important;
}
label.MonthEnglishView{
  position:relative;
  top:30;
  color:#221E1D;
  font-weight:bold;
}
label.YearView{
  position:relative;
  top:5;
  color:#221E1D;
  font-weight:bold;
}

/* LastMonth */
#LastMonth{
  width:80px;
  margin:0 3px 5px 3px;
  font-size:10px !important;
  border-collapse:collapse;
  border:none;
}
#LastMonth td{
  text-align:center;
  margin:0;
  padding:0;
}
#LastMonth Label.Day{
  font-weight:normal;
}
#LastMonth Label{
  display:inline;
}
#LastMonth label.month{
  font-size:20px !important;
  position:relative;
  top:-40;
  color:#E60110;
  vertical-align:top;
  font-weight:bold;
  margin-right:2px;
}
#LastMonth label.Week_sun,#LastMonth label.Week_mon,#LastMonth label.Week_tue,#LastMonth label.Week_wed,#LastMonth label.Week_thu,#LastMonth label.Week_fri,#LastMonth label.Week_sat{
  display:block;
}

/* NextMonth */
#NextMonth{
  width:80px;
  margin:0 3px 5px 3px;
  font-size:10px !important;
  border-collapse:collapse;
  border:none;
}
#NextMonth td{
  text-align:center;
  margin:0;
  padding:0;
}
#NextMonth Label.Day{
  font-weight:normal;
}
#NextMonth Label{
  display:inline;
}
#NextMonth label.month{
  font-size:20px !important;
  position:relative;
  top:-40;
  color:#E60110;
  vertical-align:top;
  font-weight:bold;
  margin-right:2px;
}
#NextMonth label.Week_sun,#NextMonth label.Week_mon,#NextMonth label.Week_tue,#NextMonth label.Week_wed,#NextMonth label.Week_thu,#NextMonth label.Week_fri,#NextMonth label.Week_sat{
  display:block;
}

/* Week */
td.Td_Week{
  border-top:1px dotted #9E9D9E;
  border-left:1px dotted #9E9D9E;
}
td.Border_last_right{
  border-right:1px dotted #9E9D9E;
}
td.Border_last{
  border-right:1px dotted #9E9D9E;
  border-bottom:1px dotted #9E9D9E;
}
td.Border_under{
  border-bottom:1px dotted #9E9D9E;
}
#Calender label.Week{
  padding:0 15px 0 15px;
  texr-align:center;
}

label.Week_sun,label.Week_mon,label.Week_tue,label.Week_wed,label.Week_thu,label.Week_fri,label.Week_sat{
  color:#FFF7E0; /* white */
  font-weight:bold;
  display:block;
}
label.Week_sun{
  background-color:#E40014;
}
label.Week_mon{
  background-color:#F6BE41;
}
label.Week_tue{
  background-color:#BED430;
}
label.Week_wed{
  background-color:#EC73A8;
}
label.Week_thu{
  background-color:#85BBE6;
}
label.Week_fri{
  background-color:#70C4A5;
}
label.Week_sat{
  background-color:#1D2089;
}


/* LastMonth(Day) */
#Calender label.Day{
  padding:0px 0px 20px 3px;
}
label.Holiday{
  color:#C53935 !important;
}
#Calender td label.HolidayName{
  font-size:10px;
  color:#ECAB90;
}
td.Td_Day{
  border-top:1px dotted #9E9D9E;
  border-left:1px dotted #9E9D9E;
}
#Calender td.Td_Holiday{
  padding:0px 0px -20px -3px;
  border-top:1px dotted #9E9D9E;
  border-left:1px dotted #9E9D9E;
}

label.LastMonth_sun,label.LastMonth_sat{
  font-weight:bold;
  color:#E7AA89;
  display:block;
}
label.LastMonth_mon,label.LastMonth_tue,label.LastMonth_wed,label.LastMonth_thu,LastMonth_fri{
  font-weight:bold;
  color:#BEBEBE;
  display:block;
}

/* ThisMonth(Day) */
label.ThisMonth_sun{
  font-weight:bold;
  color:#C53935;
  display:block;
}
label.ThisMonth_sat{
  font-weight:bold;
  color:#252084;
  display:block;
}
label.ThisMonth_mon,label.ThisMonth_tue,label.ThisMonth_wed,label.ThisMonth_thu,label.ThisMonth_fri{
  color;#534C4C;
  font-weight:bold;
  display:block;
}
#Calender label span.Circle{
  position: relative;
  top:-5px;
  left:23px;
  color:#85BBE6;
  font-size:11px;
}

/* popup */
#CalenderPopUp{
  visibility:hidden;
  border-radius:5px;
  border-collapse:collapse;
  border:1px solid #B6B6B6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
}

#CalenderPopUp{
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #EFF7CF;
  border: solid 1px #EFF7CF;
  box-sizing: border-box;
}
#CalenderPopUp:before{
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #EFF7CF;
  z-index: 2;
}
#CalenderPopUp:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #B6B6B6;
  z-index: 1;
}

#CalenderPopUp *{
  padding:0px;
  margin:0;
  letter-spacing:1.2px;
}
#CalenderPopUp label.day{
  font-weight:bold;
  color:#79796F;
}
#CalenderPopUp td{
  padding-left:5px;
}
#CalenderPopUp td.day{
  border-bottom:1px solid #B6B6B6;
}
#CalenderPopUp td.memo{
  padding:3px 5px 2px 5px;
  background-color:#EFF7CF;
}
#CalenderPopUp td.button{
  padding:2px 2px 5px 5px;
  background-color:#EFF7CF;
}
#CalenderPopUp input[name="Close"]{
  font-weight:bold;
  border-radius:2px;
  font-size:18px;
  width:18px;
  background-color:#A8A880;
  color:white;
  border:1px solid #A8A8A8;
  margin:2px 0 2px 115px;
}
#CalenderPopUp input[name="Close"]:hover{
  opacity: 0.8;
}
#CalenderPopUp input[name="Memo"]{
  text-indent:2px;
  font-size:15px;
  padding:1px 0 1px 0;
  border:1px solid #A8A8A8;
}
#CalenderPopUp input[name="Regist"]{
  background-color:#D3F1F7;
  color:#A2B1B2;
  font-size:15px;
  padding:2px;
  border:1px solid #A8A8A8;
}
#CalenderPopUp input[name="Regist"]:hover{
  opacity: 0.8;
}
#CalenderPopUpView{
  position:fixed;
}

/* hidden param */
label.param{
  display:none;
}

/* common property */
.height-10px{
  height:10px;
}
.height-15px{
  height:15px;
}
